@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "Poppins", sans-serif;
}

@layer components {
	.active {
		@apply bg-purple-800 text-purple-400 px-6 py-3 rounded-xl;
	}
	.inactive {
		@apply px-6 py-3 rounded-xl hover:bg-purple-800 hover:text-purple-400 transition-colors ease-in-out;
	}

	thead,
	tfoot {
		@apply bg-purple-300 text-center text-purple-900 whitespace-nowrap;
	}

	tbody {
		@apply bg-purple-800 text-purple-400 text-center text-sm md:text-base whitespace-nowrap;
	}

	td,
	th {
		@apply px-10 py-4;
	}

	tr:nth-child(even) {
		@apply bg-purple-900;
	}

	.disabled {
		@apply px-5 py-3 border text-purple-600 rounded-2xl border-purple-600 transition-colors duration-150 ease-in-out cursor-not-allowed;
	}
	.btn {
		@apply px-5 py-3 border text-purple-300 rounded-2xl border-purple-300 hover:bg-purple-300 hover:text-purple-900 transition-colors duration-150 ease-in-out focus:bg-purple-300 focus:text-purple-900;
	}
}
